<div class="title-search">
  <h1 class="title">Come to know some of our <span>thoughts:    </span></h1>
  <div class="search">
    <input type="text" name="search" id="search" placeholder="Are you searching for something?">
    <button type="">Search</button>
  </div>
</div>