<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
    <title>Pensamentos</title>
</head>
<body>
    <nav class="nav">
        <img src="assets/images/logo.png" alt="" class="logo">
        <div class="list">
            <a href="" class="selected">Thoughts</a>
            <a href="">Sing In</a>
            <a href="">Sing Up</a>
        </div>
    </nav>
    {{{body}}}
</body>
</html>